<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">Contact</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul class="social">
        <li>
          <a href="{{ site.social.facebook }}">
            <img src="{{ site.baseurl }}/images/social-046_facebook.png" alt="facebook">
          </a>
        </li>
        <li>
          <a href="{{ site.social.youtube }}">
            <img src="{{ site.baseurl }}/images/social-058_youtube.png" alt="youtube">
          </a>
        </li>
        <li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <img src="{{ site.baseurl }}/images/social-060_rss.png" alt="rss">
          </a>
        </li>
        <li>
          <a href="{{ site.social.flickr }}">
            <img src="{{ site.baseurl }}/images/social-044_flickr.png" alt="flickr">
          </a>
        </li>
        <li>
          <a href="{{ site.social.soundcloud }}">
            <img src="{{ site.baseurl }}/images/social-074_soundcloud.png" alt="soundcloud">
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>
</footer>
